NEXT_PUBLIC_BASE_URL = http://localhost:5000
NEXT_PUBLIC_TINYMCE_API_KEY=rdjlulkgrto2y5tofgor5t1vczjvfez7ahbglreqiccmbsln
# AWS
NEXT_PUBLIC_AWS_FOLDER_USER = users
NEXT_PUBLIC_AWS_FOLDER_PAGES = pages
NEXT_PUBLIC_AWS_FOLDER_CATEGORY = category
NEXT_PUBLIC_AWS_FOLDER_POSTS = posts
NEXT_PUBLIC_AWS_FOLDER_PRODUCTCATEGORY=productCategory
NEXT_PUBLIC_AWS_FOLDER_PRODUCTCIMAGES=productImages
NEXT_PUBLIC_AWS_FOLDER_CASESTUDIES = caseStudies

NEXT_PUBLIC_AWS_REGION= ap-south-1
NEXT_PUBLIC_AWS_BUCKET=cms-project-bucket
# NEXT_PUBLIC_AWS_ACCESS_KEY= AKIA2E4PSJ2XOR6OO2GX
# NEXT_PUBLIC_AWS_SECRET_KEY= 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


NEXT_PUBLIC_RAZORPAY_KEY=rzp_test_6YMGfDGuoYgbNo

